<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sample Code</title>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
  <div>
      <h1> hi </h1>
  </div>
</body>
</html>