<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sample Code</title>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
  <div>
      <ol style="text-align:center; list-style-position:inside; display:inline-block;">
            <% posts.forEach((post) => { %>
                <li class="title">
                     <%= post.title %>
                    <p class="body"><%= post.body %></p>
                </li>
            <% }); %>
      </ol>
    
  </div>
</body>
</html>